/**
 * OSI Cards Styles Export
 * 
 * This file exports all styles for use in other Angular projects.
 * Import this file in your project's styles.scss:
 * 
 * @import 'osi-cards/styles-export';
 */

// Core styles
@import "./styles.scss";
@import "./styles.css";
